<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Way Bindings and Class and Style</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .demo {
            background-color: blue;
            width: 100px;
            height: 100px;
        }

        .demo.active {
            background-color: green;
            width: 100px;
            height: 100px;
        }

        .demo.error {
            background-color: red;
            width: 100px;
            height: 100px;
        }

        .demo.error.active {
            background-color: yellow;
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-bind:style='objectStyle'>
            <h1>firstName = {{firstName}}</h1>
            <input v-model='firstName' type="text" placeholder="Nhập firstName">
            <br>
            <textarea v-model='about' cols="30" rows="10"></textarea>
            <p>About Me: {{about}}</p>
            <br>
            <button v-on:click='handleChangeActive'>Change Active</button>
            <button v-on:click='handleChangeError'>Change Error</button>
            <br>
            <div class="demo" v-bind:class='objClass'>
            </div>

            <hr>

            <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
                Test Style Binding
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            firstName: '',
            about: '',
            isActive: true,
            isError: false,
            activeColor: 'red',
            fontSize: 30,
            bg: 'https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg'
        },
        methods: {
            handleChangeActive() {
                return this.isActive = !this.isActive
            },
            handleChangeError() {
                return this.isError = !this.isError
            }
        },
        computed: {
            objClass() {
                return {
                    active: this.isActive,
                    error: this.isError
                }
            },
            objectStyle() {
                return {
                    backgroundImage: 'url(' + this.bg + ')',
                    margin: '20px'
                }
            }
        }
    })
</script>

</html>